# dependencies
/javascript/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/javascript/build
*/.cert
.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
npm-debug.log*
yarn-debug.log*
*.zip
*.pem
.vscode

javascript/Docker/client/build
javascript/Docker/client/node_modules
javascript/Docker/client/.DS_Store
javascript/Docker/client/.env.local
javascript/Docker/client/.env.development.local
javascript/Docker/client/.env.test.local
javascript/Docker/client/.env.production.local 
 
javascript/Docker/server/.env
javascript/Docker/server/node_modules
javascript/Docker/server/client/node_modules
javascript/Docker/server/server.log 
javascript/Docker/server/server.error
javascript/Docker/client/package-lock.json
javascript/Docker/server/package-lock.json  