# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
*/.cert
.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
npm-debug.log*
yarn-debug.log*
*.zip
*.pem
.vscode

/client/node_modules
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local 
 
/server/.env
/server/node_modules
/server/client/node_modules
server/server.log 
server/server.error
client/package-lock.json
server/package-lock.json
client/src/dev-server-link.js
